<div class="pages-content-wrap">
  <div class="content-head">
    <h1>{{ activePage.title }}</h1>
  </div>
  <div class="pages-content">
    <video controls *ngIf="activePage.video">
      <source [src]="activePage.video" type="video/mp4" />
      <source [src]="activePage.video" type="video/ogg" />
    </video>
    <div [innerHTML]="activePage.html"></div>
  </div>
</div>
