video {
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (max-width: 880px) {
  .pages-content-wrap {
    .pages-content{
      margin-top: 65px;
    }
    .content-head {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-left: 60px;
    }
  }
}
