.pages {
  .pages-wrap {
    margin: auto;
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  .menu {
    background: #043347;
    ul {
      background: #065d7f;
      list-style: none;
      padding-left: 0;
      width: 250px;

      &.fixed {
        position: fixed;
        top: 0;
      }
    }
    ul li a {
      text-decoration: none;
      color: #fff;
      padding: 10px 15px;
      display: block;
      font-size: 15px;

      &.active {
        background: #fff;
        color: #065d7f;
      }
    }
  }

  @media screen and (max-width: 880px) {
    .pages-wrap {
      grid-template-columns: 1fr;
    }
    .menu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      z-index: 2;
      left: -100%;
      width: 100%;
      transition: all .2s ease;

      &.menu-toggled{
        left:0;
      }

      .content-head{
        display: none;
      }
      ul{
        width: 100%;
        background: unset;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &.fixed{
          position: relative;
          top:50%;
        }
      }
      ul li a{
        font-size: 20px;
      }
    }
  }
}
