<section id="main">
  <div class="pages">
    <div class="pages-wrap">
      <div
        class="menu-toggle"
        (click)="toggleMenu()"
        [ngClass]="{ 'menu-toggled': menuToggled }"
      >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <div class="menu" [ngClass]="{ 'menu-toggled': menuToggled }">
        <div class="content-head">
          <p>Menu</p>
        </div>

        <ul [ngClass]="{ fixed: scrolledAmount > 40 }">
          <li *ngFor="let page of pages; index as i">
            <a
              [routerLink]="['/article/' + page.id]"
              [ngClass]="{
                active: router.url.split('/article/')[1] === page.id
              }"
              >{{ page.title }}</a
            >
          </li>
        </ul>
      </div>
      <app-page></app-page>
    </div>
  </div>
</section>
