body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
h1 {
  font-size: 24px;
  margin: 0;
}

.menu-toggle {
  position: fixed;
  left: 20px;
  top: 13px;
  cursor: pointer;
  z-index: 3;
  display: none;
  span {
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    margin-bottom: 4px;
    transition: all .2s ease;

    &:last-child{
      margin-bottom:0;
    }
  }

  &.menu-toggled{
    span{
      background:#fff;
      transform-origin: 6%;

      &:nth-child(1){
        transform: rotate(45deg);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
      }
    }
  }
  @media screen and (max-width: 880px){
    display: block;
  }
}

.content-head {
  background: #aab6be;
  padding: 6px 15px;
  p {
    font-size: 24px;
    font-weight: bold;
  }
}

.pages-content {
  width: 600px;
  margin: auto;
  margin-top: 20px;

  h2 {
    margin-bottom: 20px;
  }
  span {
    display: block;
  }
  p,
  span,
  li {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 23px;
  }
  img {
    margin-bottom: 15px;
  }
}
